# Kafka / Azure Event Hubs Configuration
BOOTSTRAP_SERVERS='<your-eventhub-namespace>.servicebus.windows.net:9093'
EVENT_HUB_CONNECTION_STRING='Endpoint=sb://<your-eventhub-namespace>.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=<your-key>'
EVENT_HUB_NAME='ecommerce-orders'
EVENT_HUB_NAMESPACE='<your-eventhub-namespace>.servicebus.windows.net'

# Azure Blob Storage (Bronze Layer)
AZURE_STORAGE_CONNECTION_STRING='DefaultEndpointsProtocol=https;AccountName=<your-storage-name>;AccountKey=<your-storage-key>;EndpointSuffix=core.windows.net'
AZURE_CONTAINER_NAME='ecommerce'

# Azure Data Lake Storage Gen2 (for Databricks)
STORAGE_ACCOUNT_NAME='<your-storage-name>'
STORAGE_ACCOUNT_ACCESS_KEY='<your-storage-key>'
